body {
  background-color: rgb(0, 0, 0);
}

.navbar {
  background-color: #333;
  overflow: hidden;
  top: 0px;
  right: 850px;
  padding-left: 55px;
  height: 100px;
}


.navbar a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar a:hover {
  background-color: #F7BF50;
  color:black;
}

.logo {
  /* 
  position: fixed;
  top: 0px;
  left: 0px; */
  /* display:inline-block;
  vertical-align:top; */
  float: left;
  width: 100px;
  height: 100px;
}

#home, #lockpicking, #history, #types, #other, #resources  {
  padding-left: 90px;
  padding-right: 90px;
  height: 100px;
  padding-top: 40px;
}

 /* .navbar {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: black;
 } */